{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "endOfLine":"auto",
        "trailingComma": "es5",
        "arrow-body-style": [2, "as-needed"],
        "semi": true,
        "singleQuote": true,
        "no-console": true,
        "react/prop-types": true,
        "no-mixed-spaces-and-tabs": ["error", "smart-tabs"]
      }
    ],
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
  }
}